@let(size = $props.get('size', 34))
@let(light = $props.get('light', false))
<a
  href="/"
  aria-label="Talentry"
  style="display: inline-flex; font-family: 'Pacifico', cursive; font-size: {{ size }}px; line-height: 1; color: {{ light ? '#ffffff' : '#0b8f3a' }};"
>Talentry</a>
